.collection-table {
    min-width: 1700px
}

.collection-table th:nth-child(1) {
    width: 70px
}

.collection-table th:nth-child(2) {
    width: 80px
}

.collection-table th:nth-child(3) {
    width: 180px
}

.collection-table th:nth-child(4) {
    width: 130px
}

.collection-table th:nth-child(5) {
    width: 210px
}

.collection-table th:nth-child(6) {
    width: 120px
}

.collection-table th:nth-child(7) {
    width: 120px
}

.collection-table th:nth-child(8) {
    width: 120px
}

.collection-table th:nth-child(9) {
    width: 100px
}

.collection-table th:nth-child(10) {
    width: 100px
}

.collection-table th:nth-child(11) {
    width: 110px
}

.collection-table th:nth-child(12) {
    width: 140px
}