.alarm-table {
    min-width: 1480px
}

.alarm-table th:nth-child(1) {
    width: 100px
}

.alarm-table th:nth-child(2) {
    width: 70px
}

.alarm-table th:nth-child(3) {
    width: 170px
}

.alarm-table th:nth-child(4),
.alarm-table th:nth-child(5) {
    width: 180px
}

.alarm-table th:nth-child(6) {
    width: 110px
}

.alarm-table th:nth-child(7) {
    width: 90px
}

.alarm-table th:nth-child(8) {
    width: 100px
}

.alarm-table th:nth-child(9) {
    width: 110px
}

.alarm-table th:nth-child(9) {
    width: 120px
}

.alarm-table th:nth-child(10) {
    width: 300px
}
